@import "tailwindcss";

:root {
  --background: #2e2f36;
  --foreground: #171717;
  --background-items: #2E2F36;
  --button-full: #79A0F0;
  --button-transparent: #40495F;
  --background-dark: #202126;
}



@theme  {
  --color-primary: #2e2f36;
  --color-secondary: #2E2F36;
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #202126;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
